@import "./vars.scss";

body,
h1,
h2,
h3,
p,
li,
input,
button,
div {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
input {
    border: none;
    padding: 10px;
    outline: 0;
    background-color: transparent;
}
