@import "./vars.scss";

.gameboard-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    border: $modal-border;
    box-shadow: $modal-shadow;
    border-radius: 5px;
    overflow: hidden;

    h3 {
        padding: 10px;
        background-color: $primary;
        color: white;
        font-size: 1.3em;
    }

    li {
        margin: 10px;
    }

    ul li:last-child {
        margin-bottom: 15px;
    }

    .buy-button,
    .collect-button,
    .buy-manager {
        border: $modal-border;
        box-shadow: $modal-shadow;
        border-radius: 5px;
        padding: 5px;
        margin: 3px 10px;
        background-color: $primary-light;

        &:active {
            box-shadow: none;
            transform: translateY(2px);
        }
    }

    .collect-button {
        background-color: $secondary-light;
        color: white;
    }
}

.gameboard {
    width: 150%;
    border-right: $light-border;
}

.gameboard-managers {
    width: 100%;
}

.progress-bar-container {
    margin: 5px;
    height: 18px;
    width: 310px;
    background-color: $secondary-lightest;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: inset 0px 2px 4px -1px black;
}

.progress-bar {
    height: 100%;
    width: 50%;
    background-color: $primary;
    box-shadow: $modal-shadow;
}

.scrim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.earnings-modal {
    width: 420px;
    height: 400px;
    margin: 150px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: $modal-shadow;
    border: $modal-border;

    h1 {
        font-size: 1.8em;
        color: white;
        background-color: $primary;
        padding: 10px;
        text-align: center;
    }

    h2 {
        text-align: center;
        margin: 50px 30px;
        font-size: 1.5em;
    }

    button {
        background-color: $secondary;
        border-radius: 5px;
        box-shadow: $modal-shadow;
        color: white;
        border: $modal-border;
        margin: 0 auto;
        display: block;
        font-size: 1.3em;
        padding: 15px 20px;

        &:active {
            box-shadow: none;
            transform: translateY(2px);
        }
    }
}
