@import "./vars.scss";

.navbar {
  color: white;
  background-color: $primary;
  margin: 0 0 15px 0;
  box-shadow: -2px -3px 5px 4px black;

  h1 {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
  }

  h2 {
    font-size: 1.4em;
    text-align: center;
    padding: 0 0 10px 0;
  }
}
