@import "./vars.scss";

.navbar {
  color: white;
  background-color: $primary-dark;
  margin: 0 0 15px 0;
  box-shadow: $modal-shadow;

  h1 {
    font-size: 2em;
    text-align: center;
    padding: 10px;

    .cubit-container {
      margin: 0 20px;
    }
  }

  h2 {
    font-size: 1.4em;
    text-align: center;
    padding: 0 0 10px 0;
  }

  .logged-in {
    display: flex;
    justify-content: space-between;
    line-height: 60px;

    h3 {
      font-size: 2em;
      margin-left: 35px;
    }

    button {
      color: white;
      cursor: pointer;
      padding: 10px;
      background-color: $secondary;
      height: 50%;
      align-self: center;
      margin-right: 35px;
      border-radius: 5px;
      border: $modal-border;
      box-shadow: $modal-shadow;

      &:active {
        margin-top: 2px;
        box-shadow: none;
      }
    }
  }
}
