$primary-dark: #4d2c91;
$primary: #7e57c2;
$primary-light: #b085f5;
$primary-lightest: #d9c7f5;
$secondary-dark: #29434e;
$secondary: #546e7a;
$secondary-light:#819ca9;
$secondary-lightest:#c7dde7;

$modal-border: 1px solid #838292;
$modal-shadow: 0px 2px 7px -2px black;

$light-border: 1px solid #c7c7c7;
